<h2>About Us</h2>

<div class="home-info-section">
    <div class="info-section">
        <p>Airbnb began in 2008 when two designers who had space to share
             hosted three travellers looking for a place to stay. Now, 
             millions of hosts and travellers choose to create a free
              Airbnb account so they can list their space and book unique 
              accommodations anywhere in the world. And Airbnb experience 
              hosts share their passions and interests with both travellers and locals.</p>
    </div>
    
</div>




