<link rel="stylesheet" type="text/css" href="css/style.css">

<div class="book-container">
        
            <div class="form-box">
                <h2>Book unique places to stay and things to do.</h2><br>

        
            <form id="book-form"method="POST" action="/room/search">
                <label>Where:</label><br>
                <select id="book-room" name="location" required>
                    <option value="" disabled selected>Anywhere</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Ottawa">Ottawa</option>
                    <option value="Montreal">Montreal</option>
                </select>
                <br>
                <br>
                <label style="margin-left:40px;auto;float: left">Check in:</label>
                <label style="margin-right:100px;float: right">Check out:</label><br>
                <input name="checkIn" class="book-date" type="date" required>
                <input name="checkOut" class="book-date" type="date" required>
                <br><br>
                <label for="guests">Guests:</label><br>
                <Select type="number" name="guests" id="guests" placeholder="Guests" required>
                    <option value="0">0 Guests</option>
                    <option value="1">1 Guest</option>
                    <option value="2">2 Guests</option>
                    <option value="3">3 Guests</option>
                    <option value="4">4 Guests</option>
                    <option value="5">5 Guests</option>
                    <option value="6">6 Guests</option>
            
                </Select>
                <br>
                <input type="submit" value="Search" name="booking" id="book-search">
            </form>
        </div>

</div>

<div class="promotional-box">
    <p>
        <h1>First Booking  15% Off</h1>
    </p>
</div>

<div class="home-info-section">
    <div class="info-section">
        <p>Airbnb began in 2008 when two designers who had space to share
             hosted three travellers looking for a place to stay. Now, 
             millions of hosts and travellers choose to create a free
              Airbnb account so they can list their space and book unique 
              accommodations anywhere in the world. And Airbnb experience 
              hosts share their passions and interests with both travellers and locals.</p>
    </div>
    <div class="info-video">
            <iframe width="560" height="250" src="https://www.youtube.com/embed/dA2F0qScxrI" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

